<div class="navbar-vw"></div>

<div class="reservation-container">

  <% reservations.forEach(function(reservation){ %>

    <div id="listings" class="container request-listing-container">

      <div class="user-data-holder">
        <div class="reserving-user">
          <a href="#/requests">
            <div class="profile-circle">
              <img class="profile-image" src="<%= reservation.owner().escape("gravatar_url") %>" >
            </div>
          </a>

          <div class="request-user-name">
            <%= reservation.owner().escape("name") %>
          </div>
        </div>

        <div class="reserving-dates">
          <div class="check-date">
            <strong>Check In:</strong> <%= reservation.escape("start_date") %>
          </div>

          <div class="check-date">
            <strong>Check Out:</strong> <%= reservation.escape("end_date") %>
          </div>

          <div class="button-group">

          	<% if (reservation.get("status") === "APPROVED") { %>
               
              	<div class="trip-accepted">Accepted</div>

            <% } else if (reservation.get("status") === "DECLINED") { %>

                <div class="trip-declined">Declined</div>

            <% } else { %>   

            	<div class="trip-pending">Pending</div>

            <% } %> 

          </div>
        </div>
      </div>

      <div class="request-picture">
        <a href="#/listings/<%= reservation.escape("listing_id") %>">
          <img src="<%=reservation.escape('listing_image')%>" class="img-thumbnail">
        </a>

        <a href="#/listings/<%= reservation.escape("listing_id") %>">
          <div class="request-space-title">
            <%= reservation.escape("listing_title") %>
          </div>
        </a>
      </div>
    </div>




  <% }) %>



</div>