<div class="navbar-vw"></div>

<div id="alert" class="hide"></div>

<div class="carousel-container">

</div>

<div class="show-container-main">

	<div class="listing-profile-title">
		<!-- span across the whole thing --> 

		<div class="listing-profile-title-box listing-container">

			<div class="listing-owner-description">
				<div class="profile-circle">
					<img class="profile-image" src="<%= this.model.owner().escape('gravatar_url')%>" alt="<%= this.model.owner().escape('gravatar_url') %>">
				</div>
				<%=listing.owner().escape("name")%>
			</div>

			<div class="listing-title">
				<h3><%= listing.escape('title') %></h3>
			</div>

			<div class="listing-location">
				<%= listing.escape('city') %>, <%=listing.escape('state')%>, United States
			</div>
	</div>

	<div class='listing-content listing-container listing-text'>
		<h4 class="listing-text">
			About This Listing
		</h4>
		
		<p><%= listing.escape('summary') %></p>

		<div>
			<% if (listing.images().models.length > 0) { %>

				<img class = "image-box" src="<%= listing.images().models[0].escape('url') %>"

			<% } %>

			</div>

		<hr>

		<div class="left-aligned-listing-info">Description</div>

		<div class="description-text">
			<div id="the-space">The Space</div>
			<div id="description-here"><%=listing.escape('description')%>
		</div>


	</div>

	<div class="booking-container">
		<div class="price">
			<div class="price-amount"><h1>$<%= listing.escape('price') %></h1></div>
			<div class="price-timeline">Per Night</div>
		</div>

		<div class="booking-form">
			<div>
				<form>
				  	<div class="form-group">
						<div class="date-pick-listing-show">
							<div class="input-daterange listing-datesearch" id="datepicker">
												    <input type="text" class="input-sm form-control date-listing-form-item" name="start" placeholder="Check In" />
												    <input type="text" id="listing-end-date" class="input-sm form-control date-listing-form-item" name="end" placeholder="Check Out" />
							</div>
						</div>

				 	</div>

				    
					<button type="submit" class="booking-button button-waiting">Request to Book</button>
				</form>
			</div>
		<div> 	
	</div>
</div>