<div class="listing-box">
	<div class="image-box">
		<div id="show-carousel" class="owl-carousel">
			<% images.forEach(function(image) { %>
				<div class="item"><img src="<%= image.escape("url") %>"></div>
			<% }) %>
		
		</div>
	</div>
		<a href="#/listings/<%=listing.escape("id")%>">
			<div class="listing-text">
				<%=listing.escape('title')%>
				Price:<%=listing.escape('price')%>
				room type:<%=listing.escape('room_type')%>
			</div>
		</a>
</div>

