<div class="listing-box">
	<div class="image-box">
		<div id="show-carousel" class="owl-carousel">
			<% images.forEach(function(image) { %>
				<div class="item-mini"><img src="<%= image.escape("url") %>"></div>
			<% }) %>
		
		</div>
	</div>
		<a href="#/listings/<%=listing.escape("id")%>">


			<div class="listing-text">

				<div class="price-box">
					<div class="listing-price-symbol">$</div><h2 class="listing-price-index"><%=listing.escape('price')%></h2>
				</div>

				<div class="profile-circle-sm">
					<img class="profile-image" src="<%= listing.owner().escape('gravatar_url') %>">
				</div>
				<div class="listing-info">
					<h4><%=listing.escape('title')%></h4>
					
				</div>
			</div>
		</a>
</div>

