<!DOCTYPE html>
<html>
<head>
  <title>ScareBnb</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
	<%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
	
<script type="text/javascript">
	<% if current_user %>
		var currentUser = new ScareBnb.Models.User({ id: <%= current_user.id %>, logged_in: true })
		ScareBnb.Collections.users.add(currentUser);
		currentUser.fetch();
		ScareBnb.Collections.users.add(currentUser);		
	<% end %>
</script>
	
<!-- <#%= render partial: "layouts/header" unless @disable_nav %> -->
<%= yield %>

</body>
</html>
 